body {
  max-width: 1200px;
  margin: 0 auto;
}

#topbox {
  margin-top: 40px;
}

#topbox #top-images {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

#topbox #top-images img {
  max-width: 100%;
  width: 30%;
}

#topbox #top-images .right-top i {
  padding-right: 10px;
}

header {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 100px;
}

header .brandname {
  width: 15%;
}

header #List-top ul {
  display: flex;
}

header #List-top li {
  list-style: none;
  margin-right: 20px;
}

header #List-top a {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.container {
  max-width: 1200px;
}

.container ul {
  padding: 0;
}

.container li {
  list-style: none;
}

.container img {
  max-width: 1200px;
}

#banner {
  max-width: 1200px;
}

#banner ul {
  padding: 0;
  display: flex;
  margin: 0 auto;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
}

#banner li {
  list-style: none;
  margin: 25px;
}
