@charset "UTF-8";
body {
  max-width: 1200px;
  margin: 0 auto;
}

#topbox {
  margin-top: 40px;
}

#topbox #top-images {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

#topbox #top-images img {
  max-width: 100%;
  width: 30%;
}

#topbox #top-images .right-top i {
  padding-right: 10px;
}

header {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 100px;
}

header .brandname {
  width: 15%;
}

header #List-top ul {
  display: flex;
}

header #List-top li {
  list-style: none;
  margin-right: 20px;
}

header #List-top a {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.slider {
  max-width: 1200px;
  /* はみ出した要素は隠れるようにする */
  overflow: hidden;
}

.slider .slider2 {
  padding: 0;
  margin: 0;
  /* はみ出した要素は隠れるようにする */
  overflow: hidden;
  list-style: none;
  position: relative;
}

.slider .slider2 ul {
  padding: 0;
  display: flex;
}

.slider .slider2 .slider_item {
  max-width: 1200px;
  /* スライドを横一列に並べる */
}

#banner {
  max-width: 1200px;
}

#banner ul {
  padding: 0;
  display: flex;
  margin: 0 auto;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
}

#banner li {
  list-style: none;
  margin: 25px;
}

/*カテゴリ*/
#categories {
  max-width: 1200px;
}

#categoriesCol {
  border-top: 4px solid rgba(167, 167, 167, 0.5);
}

#categoriesCol .mens {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

#categoriesCol .mens .menstitlepc img {
  width: 100px;
  height: 25px;
}

#categoriesCol .mens ul {
  display: flex;
  justify-content: space-between;
  margin-left: 92px;
}

#categoriesCol .mens li {
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 25px;
}

#categoriesCol .mens li img {
  width: 100px;
  height: 100px;
}

#categoriesCol2 {
  border-top: 4px solid rgba(167, 167, 167, 0.5);
  border-bottom: 4px solid rgba(167, 167, 167, 0.5);
}

#categoriesCol2 .ladies {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

#categoriesCol2 .ladies .ladiestitlepc img {
  width: 100px;
  height: 25px;
}

#categoriesCol2 .ladies ul {
  display: flex;
  justify-content: space-between;
  margin-left: 92px;
}

#categoriesCol2 .ladies li {
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 25px;
}

#categoriesCol2 .ladies li img {
  width: 100px;
  height: 100px;
}
