.snapwidget-widget {
  max-width: 60%;
}

.snsbox {
  margin-bottom: 300px;
  text-align: center;
  margin-top: 120px;
}

.snsbox h2 {
  margin-bottom: 20px;
}

.snsbox img {
  width: 2vw;
}


@media (max-width: 768px) {

  .snapwidget-widget {
    max-width: 80%;
  }


}