@charset "UTF-8";
main {
  max-width: 100%;
  width: 82%;
  margin: 0 auto;
  margin-top: 30px;
  font-family: "Century Gothic",sans-serif;
  display: flex;
  justify-content: center;
}

main .toggle_left {
  max-width:100%;
  width:40vw;
  margin-left: 0;
}

main .toggle_wrap .toggle_switch {
  font-size: 10px;
  cursor: pointer;
  border-bottom: 1px solid #9b9898;
}

main .toggle_wrap .toggle_switch:hover {
  background-color: #eee;
}

main .toggle_wrap .toggle_contents {
  font-size: 12px;
  display: block;
  padding-top: 10px;
}

main .toggle_wrap .toggle_contents ul {
  padding: 0;
  padding-right: 0;
}

main .toggle_wrap .toggle_contents ul li {
  position: relative;
  list-style-type: none !important;
  /*ポチ消す*/
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin-bottom: 5px;
  line-height: 1.5;
  background: #f8dbf8;
  vertical-align: middle;
  color: #8b8989;
  border-radius: 15px 0px 0px 15px;
  /*左側の角丸く*/
}

main .toggle_wrap .toggle_contents ul li:before {
  display: inline-block;
  vertical-align: middle;
  /*以下白丸つくる*/
  content: '';
  width: 1em;
  height: 1em;
  background: #fff;
  border-radius: 50%;
}

main .toggle_wrap .toggle_contents.active {
  display: none;
}

main .filtter_wrap {
  display: inline;
  width: 20%;
  margin-left: 10px;
}

main .filtter_wrap .filtter_switch {
  font-size: 10px;
  cursor: pointer;
  border-bottom: 1px solid #9b9898;
}

main .filtter_wrap .filtter_switch:hover {
  background-color: #eee;
}

main .filtter_wrap .filtter_box {
  font-size: 14px;
  display: block;
  padding-top: 10px;
}

main .filtter_wrap .filtter_box ul {
  padding: 0;
  padding-right: 50px;
}

main .filtter_wrap .filtter_box ul li {
  position: relative;
  list-style-type: none !important;
  /*ポチ消す*/
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin-bottom: 5px;
  line-height: 1.5;
  vertical-align: middle;
  color: #a3a2a2;
  border-radius: 15px 0px 0px 15px;
  /*左側の角丸く*/
  word-wrap: break-word;
}

main .filtter_wrap .filtter_box ul li:before {
  display: inline-block;
  vertical-align: middle;
  /*以下白丸つくる*/
  content: '';
  margin-right: 5px;
  width: 1em;
  height: 1em;
  background: white;
  border-radius: 50%;
  border: 0.1px solid #e0dfdf;
}

main .filtter_wrap .filtter_box.active {
  display: none;
}

/* 商品部分 */

main #newArrival img {
  width: 14vw;
  margin-right: 15px;
}

main #newArrival .recommendCol {
  margin-bottom: 50px;
}

main #newArrival .recommendCol ul {
  padding: 0;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

main #newArrival .recommendCol ul li {
  line-height: 2vw;
  display: block;
}

main #newArrival .recommendCol h2 {
  word-wrap: break-word;
  text-align: center;
  line-height: 1;
  max-width: 100%;
  margin:10px;
  width: 90%;
  font-size: 10px;
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
}

main #newArrival .recommendCol p {
  text-align: center;
  font-size: 10px;
  margin:10px;
}

main #newArrival .arrivalbox {
  margin: 0 auto;
  border: 1px solid #555353;
  width: 30%;
}

main #newArrival .arrivalbox p {
  padding: 10px;
  text-align: center;
}

main #newArrival .arrivalbox a {
  display: block;
  width: 100%;
}




@media (max-width: 768px) {

  /* 左部分 */

  main .toggle_wrap .toggle_switch {
    font-size: 10px;
    cursor: pointer;
    border-bottom: 1px solid #9b9898;
  }


  main .toggle_wrap .toggle_contents {
    font-size: 8px;
  }


  main .toggle_wrap .toggle_contents ul li {
    margin-bottom: 4px;

  }

  /* 左部分カテゴリー */

  main .filtter_wrap .filtter_box ul {
    padding: 0;
    padding-right: 0;
    font-size:8px;
  }

  /* 商品部分 */
  main #newArrival img {
    width: 20vw;
  }

  main #newArrival .recommendCol h2 {
    word-wrap: break-word;
    width:15vw;
  }


}