@charset "UTF-8";
body {
  width: 100%;
  margin: 0 auto;
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
}

#textanauns {
  margin: 15px;
}

#textanauns #textanauns-images {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

#textanauns #textanauns-images img {
  max-width: 100%;
  width: 300px;
}

header {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
}

header .brandname {
  width:20vw;
  margin-left: 20px;
  height:6vw;
}

header #List-top {
  margin-right: 20px;
}

header #List-top ul {
  padding-top: 14px;
  display: flex;
}

header #List-top li {
  list-style: none;
  margin-right: 20px;
}

header #List-top a {
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-size: 14px;
}

#banner {
  max-width: 100%;
  width: 90%;
  margin: 0 auto;
}

#banner ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#banner li {
  padding-right: 20px;
  margin: 0 auto;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 10px;
}

#banner img {
  cursor: pointer;
  transition: 0.5s;
  width: 18vw;
}

/*カテゴリ MENS LADIES*/
#categories {
  max-width: 100%;
  width: 95%;
  margin: 0 auto;
}

#categoriesCol {
  border-top: 6px solid rgba(167, 167, 167, 0.1);
}

#categoriesCol .mens {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#categoriesCol .mens .titlepc img {
  width: 8vw;
  margin-left: 20px;
}

#categoriesCol .mens ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

#categoriesCol .mens li {
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 25px;
}

#categoriesCol .mens li img {
  width: 8vw;
  transition: 0.5s;
}

#categoriesCol .mens li img:hover {
  transform: scale(1.1);
}

#categoriesCol2 {
  border-top: 6px solid rgba(167, 167, 167, 0.1);
  border-bottom: 6px solid rgba(167, 167, 167, 0.1);
}

#categoriesCol2 .ladies {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}

#categoriesCol2 .ladies .titlepc img {
  width: 8vw;
  margin-left: 20px;
}

#categoriesCol2 .ladies ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

#categoriesCol2 .ladies li {
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 25px;
}

#categoriesCol2 .ladies li img {
  width: 8vw;
  transition: 0.5s;
}

#categoriesCol2 .ladies li img:hover {
  transform: scale(1.1);
}


@media (max-width: 768px) {

  /* ブランドロゴ横の３リスト */
  header #List-top {
    display:none;
  }

  /* ブランドロゴ */
  header .brandname {
    width:150px;
    margin-left: 20px;
  }


  /* バナー8つ */
  #banner {
    max-width: 100%;
    width: 90%;
    margin: 0 auto;
  }
  
  #banner ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  #banner li {
    padding-right: 4px;
    margin: 0 auto;
    list-style: none;
    margin-top: 8px;
    margin-bottom: 0;
  }
  
  #banner img {
    cursor: pointer;
    transition: 0.5s;
    width: 42vw;
  }

  /* カテゴリレディースメンズ */

  #categories {
    max-width: 100%;
    width: 82%;
    margin: 0 auto;
    margin-top:60px;
  }
  
  #categories .categoryimg {
    margin-top: 100px;
    text-align: center;
  }
  
  #categories .categoryimg img {
    width: 25vw;
  }
  
  #categories #categoriesCol {
    max-width: 100%;
    border-top: 6px solid rgba(167, 167, 167, 0.1);
    /* 縦方向のスクロールバーを表示 */
    overflow-x: auto;
    /* IE などのスクロールバーの色設定 */
    scrollbar-face-color: #999;
    scrollbar-track-color: #eee;
    /* スマホ用の慣性スクロール */
    -webkit-overflow-scrolling: touch;
  }
  
  #categories #categoriesCol .mens {
    width: 8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #categories #categoriesCol .mens .titlepc {
    margin-right: 60px;
  }
  #categories #categoriesCol .mens .titlepc img {
    width: 14vw;
    margin-left: 20px;
  }
  
  #categories #categoriesCol .mens ul {
    padding: 0;
  }
  
  #categories #categoriesCol .mens li {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 25px;
  }
  
  #categories #categoriesCol .mens li img {
    width: 14.4vw;
    transition: 0.5s;
  }
  
  #categories #categoriesCol .mens li img:hover {
    transform: scale(1.1);
  }
  
  #categories #categoriesCol2 {
    border-top: 6px solid rgba(167, 167, 167, 0.1);
    border-bottom: 6px solid rgba(145, 143, 143, 0.1);
    /* 縦方向のスクロールバーを表示 */
    overflow-x: auto;
    /* IE などのスクロールバーの色設定 */
    scrollbar-face-color: #999;
    scrollbar-track-color: #eee;
    /* スマホ用の慣性スクロール */
    -webkit-overflow-scrolling: touch;
  }
  
  #categories #categoriesCol2 .ladies {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #categories #categoriesCol2 .ladies .titlepc {
    margin-right: 60px;
  }
  
  #categories #categoriesCol2 .ladies .titlepc img {
    width: 14vw;
    margin-left: 20px;
  }
  
  #categories #categoriesCol2 .ladies ul {
    padding: 0;
  }
  
  #categories #categoriesCol2 .ladies li {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 25px;
  }
  
  #categories #categoriesCol2 .ladies li img {
    width: 14.4vw;
    transition: 0.5s;
  }
  
  #categories #categoriesCol2 .ladies li img:hover {
    transform: scale(1.1);
  }
  

}



@media (max-width: 580px) {
  /* トップブラック部分 */
  #textanauns {
    margin: 15px;
  }
  
  #textanauns #textanauns-images {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
  }
  
  #textanauns #textanauns-images img {
    max-width: 100%;
    width: 40vw;
    height:4vw;
  }

  /* ブランドロゴ横の３リスト */
  header #List-top {
    display:none;
  }

  /* ブランドロゴ */
  header .brandname {
    width:20vw;
    margin-left: 20px;
    height:6vw;
  }


  /* バナー8つ */
  #banner {
    max-width: 100%;
    width: 90%;
    margin: 0 auto;
  }
  
  #banner ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  #banner li {
    padding-right: 4px;
    margin: 0 auto;
    list-style: none;
    margin-top: 8px;
    margin-bottom: 0;
  }
  
  #banner img {
    cursor: pointer;
    transition: 0.5s;
    width: 42vw;
  }

  /* カテゴリレディースメンズ */

  #categories {
    max-width: 100%;
    width: 82%;
    margin: 0 auto;
    margin-top:60px;
  }
  
  #categories .categoryimg {
    margin-top: 100px;
    text-align: center;
  }
  
  #categories .categoryimg img {
    width: 25vw;
  }
  
  #categories #categoriesCol {
    max-width: 100%;
    border-top: 6px solid rgba(167, 167, 167, 0.1);
    /* 縦方向のスクロールバーを表示 */
    overflow-x: auto;
    /* IE などのスクロールバーの色設定 */
    scrollbar-face-color: #999;
    scrollbar-track-color: #eee;
    /* スマホ用の慣性スクロール */
    -webkit-overflow-scrolling: touch;
  }
  
  #categories #categoriesCol .mens {
    width: 8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #categories #categoriesCol .mens .titlepc {
    margin-right: 60px;
  }
  #categories #categoriesCol .mens .titlepc img {
    width: 14vw;
    margin-left: 20px;
  }
  
  #categories #categoriesCol .mens ul {
    padding: 0;
  }
  
  #categories #categoriesCol .mens li {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 25px;
  }
  
  #categories #categoriesCol .mens li img {
    width: 14.4vw;
    transition: 0.5s;
  }
  
  #categories #categoriesCol .mens li img:hover {
    transform: scale(1.1);
  }
  
  #categories #categoriesCol2 {
    border-top: 6px solid rgba(167, 167, 167, 0.1);
    border-bottom: 6px solid rgba(145, 143, 143, 0.1);
    /* 縦方向のスクロールバーを表示 */
    overflow-x: auto;
    /* IE などのスクロールバーの色設定 */
    scrollbar-face-color: #999;
    scrollbar-track-color: #eee;
    /* スマホ用の慣性スクロール */
    -webkit-overflow-scrolling: touch;
  }
  
  #categories #categoriesCol2 .ladies {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #categories #categoriesCol2 .ladies .titlepc {
    margin-right: 60px;
  }
  
  #categories #categoriesCol2 .ladies .titlepc img {
    width: 14vw;
    margin-left: 20px;
  }
  
  #categories #categoriesCol2 .ladies ul {
    padding: 0;
  }
  
  #categories #categoriesCol2 .ladies li {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 25px;
  }
  
  #categories #categoriesCol2 .ladies li img {
    width: 14.4vw;
    transition: 0.5s;
  }
  
  #categories #categoriesCol2 .ladies li img:hover {
    transform: scale(1.1);
  }

}