body {
    width:100%;
    margin: 0 auto;
}


#textanauns {
    margin:15px;
    #textanauns-images {
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        img {
            max-width: 100%;
            width: 300px;
        }
    }
}

// ブランドimageとカテゴリ
header {
    display: flex;
    margin-top:15px;
    justify-content: space-between;
    .brandname {
        width:150px;
        margin-left:20px;
    }

    #List-top {
        margin-right:20px;

        ul{
            padding-top:14px;
            display: flex;
        }
        li {
            list-style:none;
            margin-right:20px;
        }
        a{
            font-weight: bold;
            text-decoration:none;
            color: black;
            font-size:14px;
        }
    }
}





//boxカテゴリ８つ
#banner {
    margin-right:10px;
    margin-left: 10px;
    

    ul{
        padding:0;
        display: flex;
        flex-wrap:wrap;
        justify-content: space-between;
    }
    li{
        margin: 0 auto;
        list-style:none;
        margin-top:20px;
        margin-bottom:10px;
    }
    img{
        
        cursor:pointer;
        transition:0.5s;
        width: 20vw;
        
    }
}

/*カテゴリ MENS LADIES*/

#categories{
    // max-width: 1200px;
}

#categoriesCol {
    border-top: 3px solid rgba(167, 167, 167, 0.5);
    .mens {
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;

        .titlepc {
            img {
                width: 8vw;
                margin-left:20px;
            }
        }
        
        ul{
            display: flex;
            justify-content: space-between;
            padding:0;
        }

        li{
            list-style: none;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-right: 25px;
            
            img{
                width: 8vw;
                transition:0.5s;
            }
            img:hover {
                transform: scale(1.1);
            }
        }
    }
}


#categoriesCol2 {
    border-top: 4px solid rgba(167, 167, 167, 0.5);
    border-bottom: 4px solid rgba(167, 167, 167, 0.5);
    .ladies {
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;

        .titlepc {
            img {
                width: 8vw;
                margin-left:20px;
            }
        }
        
        ul{
            display: flex;
            justify-content: space-between;
            padding:0;
        }

        li{
            list-style: none;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-right: 25px;
            
            img{
                width: 8vw;
                transition:0.5s;
            }
            img:hover {
                transform: scale(1.1);
            }
        }
    }
}


