@charset "UTF-8";
#categories {
  max-width: 100%;
  width: 82%;
  margin: 0 auto;
}

#categories .categoryimg {
  margin-top: 100px;
  text-align: center;
}

#categories .categoryimg img {
  width: 25vw;
}

#categories #categoriesCol {
  max-width: 100%;
  border-top: 6px solid rgba(167, 167, 167, 0.1);
  /* 縦方向のスクロールバーを表示 */
  overflow-x: auto;
  /* IE などのスクロールバーの色設定 */
  scrollbar-face-color: #999;
  scrollbar-track-color: #eee;
  /* スマホ用の慣性スクロール */
  -webkit-overflow-scrolling: touch;
}

#categories #categoriesCol .mens {
  width: 8vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#categories #categoriesCol .mens .titlepc {
  margin-right: 60px;
}

#categories #categoriesCol .mens ul {
  padding: 0;
}

#categories #categoriesCol .mens li {
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 25px;
}

#categories #categoriesCol .mens li img {
  width: 8vw;
  transition: 0.5s;
}

#categories #categoriesCol .mens li img:hover {
  transform: scale(1.1);
}

#categories #categoriesCol2 {
  border-top: 6px solid rgba(167, 167, 167, 0.1);
  border-bottom: 6px solid rgba(145, 143, 143, 0.1);
  /* 縦方向のスクロールバーを表示 */
  overflow-x: auto;
  /* IE などのスクロールバーの色設定 */
  scrollbar-face-color: #999;
  scrollbar-track-color: #eee;
  /* スマホ用の慣性スクロール */
  -webkit-overflow-scrolling: touch;
}

#categories #categoriesCol2 .ladies {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#categories #categoriesCol2 .ladies .titlepc {
  margin-right: 60px;
}

#categories #categoriesCol2 .ladies .titlepc img {
  width: 8vw;
  margin-left: 20px;
}

#categories #categoriesCol2 .ladies ul {
  padding: 0;
}

#categories #categoriesCol2 .ladies li {
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 25px;
}

#categories #categoriesCol2 .ladies li img {
  width: 8vw;
  transition: 0.5s;
}

#categories #categoriesCol2 .ladies li img:hover {
  transform: scale(1.1);
}



@media (max-width: 768px) {

  #categories {
    max-width: 100%;
    width: 82%;
    margin: 0 auto;
    margin-top:60px;
  }
  
  #categories .categoryimg {
    margin-top: 100px;
    text-align: center;
  }
  
  #categories .categoryimg img {
    width: 25vw;
  }
  
  #categories #categoriesCol {
    max-width: 100%;
    border-top: 6px solid rgba(167, 167, 167, 0.1);
    /* 縦方向のスクロールバーを表示 */
    overflow-x: auto;
    /* IE などのスクロールバーの色設定 */
    scrollbar-face-color: #999;
    scrollbar-track-color: #eee;
    /* スマホ用の慣性スクロール */
    -webkit-overflow-scrolling: touch;
  }
  
  #categories #categoriesCol .mens {
    width: 8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #categories #categoriesCol .mens .titlepc {
    margin-right: 60px;
  }
  #categories #categoriesCol .mens .titlepc img {
    width: 14vw;
    margin-left: 20px;
  }
  
  #categories #categoriesCol .mens ul {
    padding: 0;
  }
  
  #categories #categoriesCol .mens li {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 25px;
  }
  
  #categories #categoriesCol .mens li img {
    width: 14.4vw;
    transition: 0.5s;
  }
  
  #categories #categoriesCol .mens li img:hover {
    transform: scale(1.1);
  }
  
  #categories #categoriesCol2 {
    border-top: 6px solid rgba(167, 167, 167, 0.1);
    border-bottom: 6px solid rgba(145, 143, 143, 0.1);
    /* 縦方向のスクロールバーを表示 */
    overflow-x: auto;
    /* IE などのスクロールバーの色設定 */
    scrollbar-face-color: #999;
    scrollbar-track-color: #eee;
    /* スマホ用の慣性スクロール */
    -webkit-overflow-scrolling: touch;
  }
  
  #categories #categoriesCol2 .ladies {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #categories #categoriesCol2 .ladies .titlepc {
    margin-right: 60px;
  }
  
  #categories #categoriesCol2 .ladies .titlepc img {
    width: 14vw;
    margin-left: 20px;
  }
  
  #categories #categoriesCol2 .ladies ul {
    padding: 0;
  }
  
  #categories #categoriesCol2 .ladies li {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 25px;
  }
  
  #categories #categoriesCol2 .ladies li img {
    width: 14.4vw;
    transition: 0.5s;
  }
  
  #categories #categoriesCol2 .ladies li img:hover {
    transform: scale(1.1);
  }
  

}




@media (max-width: 580px) {

  /* カテゴリレディースメンズ */

  #categories {
    max-width: 100%;
    width: 82%;
    margin: 0 auto;
    margin-top:60px;
  }
  
  #categories .categoryimg {
    margin-top: 100px;
    text-align: center;
  }
  
  #categories .categoryimg img {
    width: 25vw;
  }
  
  #categories #categoriesCol {
    max-width: 100%;
    border-top: 6px solid rgba(167, 167, 167, 0.1);
    /* 縦方向のスクロールバーを表示 */
    overflow-x: auto;
    /* IE などのスクロールバーの色設定 */
    scrollbar-face-color: #999;
    scrollbar-track-color: #eee;
    /* スマホ用の慣性スクロール */
    -webkit-overflow-scrolling: touch;
  }
  
  #categories #categoriesCol .mens {
    width: 8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #categories #categoriesCol .mens .titlepc {
    margin-right: 60px;
  }
  #categories #categoriesCol .mens .titlepc img {
    width: 14vw;
    margin-left: 20px;
  }
  
  #categories #categoriesCol .mens ul {
    padding: 0;
  }
  
  #categories #categoriesCol .mens li {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 25px;
  }
  
  #categories #categoriesCol .mens li img {
    width: 14.4vw;
    transition: 0.5s;
  }
  
  #categories #categoriesCol .mens li img:hover {
    transform: scale(1.1);
  }
  
  #categories #categoriesCol2 {
    border-top: 6px solid rgba(167, 167, 167, 0.1);
    border-bottom: 6px solid rgba(145, 143, 143, 0.1);
    /* 縦方向のスクロールバーを表示 */
    overflow-x: auto;
    /* IE などのスクロールバーの色設定 */
    scrollbar-face-color: #999;
    scrollbar-track-color: #eee;
    /* スマホ用の慣性スクロール */
    -webkit-overflow-scrolling: touch;
  }
  
  #categories #categoriesCol2 .ladies {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #categories #categoriesCol2 .ladies .titlepc {
    margin-right: 60px;
  }
  
  #categories #categoriesCol2 .ladies .titlepc img {
    width: 14vw;
    margin-left: 20px;
  }
  
  #categories #categoriesCol2 .ladies ul {
    padding: 0;
  }
  
  #categories #categoriesCol2 .ladies li {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 25px;
  }
  
  #categories #categoriesCol2 .ladies li img {
    width: 14.4vw;
    transition: 0.5s;
  }
  
  #categories #categoriesCol2 .ladies li img:hover {
    transform: scale(1.1);
  }

}